@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap');
body{
    background-color: #363636;
    font-family: 'MedievalSharp', cursive;
}
.mapzone{
    background-color: #BFC3C5;
    background-size: 500px 500px;
    border-radius: 15px;
    overflow: hidden;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0px;
    padding: 0px;
    display: inline-grid;    
    background-image: url('/data/main-map.png');
    grid-template-columns: repeat(20, 25px);
    grid-template-rows: repeat(20, 25px);
    background-repeat: no-repeat;
}
#begin{
    max-width:70%;
    max-height: 600px;
    margin-top: auto;
}
#bbegin{
    margin-top: 10px;
    width:30%;
    padding: 2%;
    font-size: 150%;
    font-weight: bold;
    font-family: 'MedievalSharp', cursive;
    border-color: black;
    background-color: rgb(186, 182, 182);
    border-radius: 10px;
}
#bbegin:hover{
border-color: white;
background-color: transparent;
color: white;
}
#bbegin:focus{
    border-color: black;
    background-color: transparent;
    color: red;
    }

#mobile {
    background-color: white;
    background-image: url("data/perso.png");
}
    
   